{#
/**
 * @file
 * Theme implementation for the tags field.
 *
 * Available variables:
 * - items: List of all the field items
 * - element: The field element
 * - tag_colors: Array of color classes for each tag
 */
#}
{% if items %}
    {% for key, item in items %}
        {% if tag_colors[key] %}
            {% set colors = tag_colors[key] %}
        {% else %}
            {% set colors = {bg: 'bg-purple-100', text: 'text-purple-800', hover: 'hover:bg-purple-200'} %}
        {% endif %}
        <a href="{{ item.content['#url'] }}"
           class="px-2 py-1 text-xs {{ colors.bg }} {{ colors.text }} rounded {{ colors.hover }} transition-colors inline-block">
            {{ item.content['#title']|upper }}
        </a>
    {% endfor %}
{% endif %}
