{#
/**
 * @file
 * Theme implementation for search results page.
 *
 * Available variables:
 * - page: Page content render array
 * - logged_in: TRUE if the user is logged in
 */
#}
{% extends "html.html.twig" %}

{% block before_content %}
    <!-- Filter Buttons - Main Menu -->
    {% if main_menu_items %}
        <div class="max-w-7xl mx-auto mt-6">
            <div class="flex space-x-2 overflow-x-auto scrollbar-hide">
                {% for item in main_menu_items %}
                    {% set is_first = loop.first %}
                    <a href="{{ item.url }}" class="px-4 py-2 {{ item.is_active ? 'bg-gray-200 text-gray-900' : 'bg-white text-gray-700' }} text-sm rounded-full border border-gray-300 hover:bg-gray-50 whitespace-nowrap {{ is_first ? 'ml-4' : '' }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Main Content Grid -->
    <div id="main-content" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
        {{ page.content }}
    </div>
{% endblock %}
